.navbar-custom {
            background-color: #0CC3CB;
			font-size : xx-large;
        }
    .color {
		background-color: #FE1717;
}
     .colorl {
		 color: white;
		 text-align: center;
}
		 li{
			 color:white;
		 }
		 p{
			color: white;
			 text-align: center
		 }
		 .carousel{
			 width: 100%;
		 }